<<<<<<< HEAD
<nav class="navbar navbar-expand-lg md-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
=======



<style>
  .search-btn{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: white;

  }
  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input{
    border-radius:25px ;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 0.8rem;
  }
</style>

<nav class="navbar navbar-expand-lg md-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
>>>>>>> c2fec04 (Added my project)
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
<<<<<<< HEAD
          <a class="nav-link "  href="/">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add New Listings</a>
         
        </div>
=======
          
          <a class="nav-link" href="/listings">Explore</a>
        </div>

          <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Add New Listings</a>

          <% if(!currUser) { %>
          <a class="nav-link "  href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in </b></a>
          <% } %>
          <% if(currUser) { %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
           <% } %>
        </div>
         
>>>>>>> c2fec04 (Added my project)
      </div>
    </div>
  </nav>